body{
    display: flex;
}

.booklet{
    width: 10em;
    align-content: stretch;
    background: darkgray;
}
.booklet-img>img{
    width: 10em;
}

.booklet-pos{
    width: 10em;
    height: 10px;
    background: darkgray;
}

.booklet-pos.active{
	background: red;
}

.album{
	display: flex;
    min-height: 10em;
    background: lightgray;
    padding: 10px;
}

#album-cover{
	max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    margin-right: 10px;
}
}

.album-info i{
	display: block;
}


.disk{
    display: flex;
}

/* Style the list */
.tab {
    flex: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    min-width: 10em;
}

/* Float the list items side by side */
/* ul.tab li {float: top;} */

/* Change background color of links on hover */
.tabpage:hover{background-color: #ddd;}

/* Create an active/current tablink class */
.tabpage:focus, .tabpage.active {background-color: #ccc;}

/* Style the links inside the list items */
.tabpage {
}

.tabpage a {
    display: inline-block;
    color: black;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.disk.tabcontent.active{
    display: flex;
}

.track.tabcontent.active{
    display: block;
}

/*
.tabcontent i{
	display: block;
}
*/

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/**** track style *******/
.track-vbr{
	color: white;
	background: orange;
	padding: 2px;
	border-radius: 3px;
}

.track.tabcontent div>i{
    display: inline-block;
    width: 1em;
	text-align: right;
}

.track.tabcontent div>label{
	color: white;
    background: #0b6cea;
    margin: 3px;
    border-radius: 3px;
    padding: 3px;
    width: 6em;
    /* float: left; */
    display: inline-block;
    /* text-align: right; */
}

.track.tabcontent input[type=number]{
	width: 3em;
	border-width: 0;
}

/*
.track.tabcontent input[type=number]::-webkit-inner-spin-button, 
.track.tabcontent input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
*/

.track.tabcontent textarea{
    box-sizing: border-box;
    width: 100%;
}